/* ExplorePage.css */

.explore-page {
  margin-top: 3rem;
    padding: 20px;
    text-align: center; 
  }
  
  .explore-heading {
    margin-bottom: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Limit to three cards per row */
    gap: 20px;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 8px 8px 0 0;
    }
  
    .card-content {
      position: relative;
      padding: 16px;
  
      h2 {
        margin: 0;
        font-size: 1.2rem;
      }
    }
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  
  .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0; /* Adjust padding as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); /* Gradient overlay */
    color: white; /* White text color for better readability */
    text-align: center;
  }
  
  .card-footer h2 {
    margin: 0;
    padding: 0 10px; /* Padding on sides to keep the text from touching the edges */
    font-size: 2rem;
  }
  