.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 12px 4px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.nav-icon {
  color: #e60023; 
  margin-right: 0.5rem; 
  font-size: 2rem;
}

.brand-name {
  color: #e60023; 
  font-weight: bold;
  margin-left: 0.25rem; 
}

.nav-item {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  margin-right: 1rem;
}

.nav-item.btn {
  border-radius: 24px;
  font-weight: bold;
}

.nav-item.btn-login {
  background-color: #e60023;
  color: white;
  margin-right: 0.5rem;
}

.nav-item.btn-signup {
  background-color: #efefef; 
  color: black; 
}

.login-container {
  background-image: url('../assets/background-img-beige.png');
  display: flex;
  min-height: 100vh;
  font-weight: strong;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.95; 
}

@media (max-width: 768px) {
  .nav-item {
    margin: 0 0.5rem;
  }
  
  .nav-bar {
    padding: 0.5rem;
  }
  
}
